@import "bourbon/bourbon";
@import "base/base";

$base-accent-color: red !default;
$base-color: #3e9795;

body {
    background: $base-color;
    color: white;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.logo {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.app {
    font: 100%/1.618 'Droid Sans'; /* golden ratio line-height */
    line-height: 1.375em;
    width: 40em;
    margin: 0 auto;
    .new-item {
        width: 100%;
        display: block;
    }
    .new-item-button {
    }
}

.save-button{
    @include button(flat, darken($base-color, 10%));
    // background-color: darken($base-color, 10%);
    width: 30em;
    margin: 0 auto;
    display: block;
    padding: 0.7em 1em;
}

.remove-item-button {
    background-color: darkgray;
    font-size: 14px;
    padding: 0.25em;
}

.profile-button {
    background-color: darkgray;
    font-size: 14px;
    padding: 0.25em;
}

.item-list li {
    margin-bottom: 1em;
}

.twitter-typeahead, .twitter-typeahead input {
    width: 100%;
    color: black;
    margin-bottom: 1em;
}

.subtitle {
    text-align: center;
}

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-highlight {
    font-weight: bold;
}

.tt-suggestion p {
    margin: 0;
}

footer {
    text-align: center;
    background-color: #333;
    width: 100%;
    color: white;
    margin-top: 4em;
    padding-top: 2em;
    height: 6em;
    display: block;
}